#root {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
  background-color: var(--fourth-color);
}
:root {
  --first-color: #233142;
  --second-color: #455d7a;
  --third-color: #f95959;
  --fourth-color: #e3e3e3;
}
.navlink {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--first-color);
}

.link {
  text-decoration: none;
  padding: 20px;
  color: var(--fourth-color);
}
